.slidebar{
    flex: 0.25;
    position: sticky;
    height: fit-content;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 500ms ease;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.164);
}
.slidebar  img{
    width: 100%;
    object-fit: contain;
}
.slidebar .slidebar__avatar{
    margin-top: -20px;
}

.slidebar__top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slidebar__stat{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}