@import './general.scss';
@mixin button{
    display: block;
    margin: 2rem 0;
    width: auto;
    font-size: 18px;
    padding: .3rem 3rem;
    border: solid 1px $color-second;
    background: $color-second;
    color: $text-second;
    cursor: pointer;
    transition: all 500ms;
    &:hover{
        background: $hover-principal-button;
        border-radius: 2rem;
    }
}
@mixin second-button {
    padding: .9rem;
    background: $text-color;
    color: $text-second;
    border-radius: .5rem;
    border: none;
    margin: 2rem 0 auto 0;
    cursor: pointer;
    transition: all 500ms;
    &:hover{
        background: $hover-second-button;
    }
}
@mixin third-button {
    padding: .9rem;
    background: $color-primary;
    color: $text-second;
    border-radius: .5rem;
    border: none;
    margin: 2rem 0 auto 0;
    cursor: pointer;
    transition: all 500ms;
    &:hover{
        background: $hover-third-button;
    }
}
@mixin special-button {
    outline: none;
    width: 150px;
    height: 40px;
    outline: none;
    border: solid 1px $color-third;
    background-color: $text-second;
    border-radius: 6px;
    color: $text-color;
    cursor: pointer;
    margin: auto;
    transition: all 50ms;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 0;
        left: 0;
        bottom: 0;
        border-radius: 6px;
        background: $color-third;
        transition: all 500ms;
        z-index: -1;
    }
    &:hover{
        border: 1px solid transparent;
        color: $text-second;
    }
    &:hover::before{
        height: 100%;
    }
}

@mixin positionTheme {
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    animation: infinite alternate 1s imageAnimation;
}