@import '../../components/stylesGeneral/general.scss';
@import '../../components/stylesGeneral/mixinButtons.scss';

body{
    position: relative;
    height: 100%;
}
.section__home{
    background: $color-primary;
    color: $text-second;
    width: 100%;
    height: 100vh;
    display: flex;
}
.text__section{
    padding: 3rem;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text__section__information{
    width: 60%;
    overflow: hidden;
    margin: auto;
}
.text__section__information h1{
    font-weight: 600;
    font-size: 42px;
}
.text__section__information a{
    text-decoration: none;
    color: $color-second;
}
.text__section__image{
    width: 70%;
    height: 500px;
    position: relative;
}
.text__section__image img{
    width: 80%;
    display: block;
    @include positionTheme;
    position: absolute;
}
.section__home button{
    @include button;
}


/* about us */


.about__us{
    width: 100%;
    height: 80vh;
}
.about__us__container{
    width: 80%;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.about__us__title h1{
    font-size: 35px;
}
.about__us__container .about__us__services{
    position: relative;
    width: 90%;
    height: 56ch;
    padding: 2rem;
}
.about__us__container .about__us__services h3{
    font-size: 30px;
}
.about__us__container .about__us__services .about__us__services__each1{
    color: $text-second;
    width: 70%;
    padding: 2.7rem;
    background: $color-primary;
    left: 15%;
    top: 3% ;
    position: absolute;
}
.about__us__container .about__us__services .about__us__services__each1 button{
    @include second-button;
}
.about__us__container .about__us__services .about__us__services__each2 button{
    @include third-button;
}
.about__us__container .about__us__services .about__us__services__each2{
    width: 70%;
    padding: 2.7rem;
    background: $text-color;
    right: 5% !important;
    bottom: 0%;
    position: absolute;
    color: $text-second;
}

/* slider swipper  services*/

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: $text-second;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: block;
    height: 100%;
}
.services__container{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: $text-color;
}
.services__container .services__title{
    width: 100%;
    text-align: center;
}
.services__container .services__title h1{
    font-size: 30px;
    font-weight: 400;
}
.services__container .services__title i{
    font-size: 40px;
}

.swiper-slide{
    background: #ddfffe;
    display: flex;
}
.swiper__content{
    text-align: left;
    width: 60%;
}
.swiper__content p, i{
    font-size: 15px;
}
.swiper__content i{
    color:$color-primary;
}

/* how */
.container__how{
    background: $text-color;
    color: $text-second;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    width: 80%;
    height: 240px;
    margin:4rem auto;
}
.container__how h1{
    width: 50%;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: .2rem;
}
.container__how a{
    text-decoration: none;
    padding: .9rem;
    background: $color-primary;
    color: $text-second;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}


/* footer */
footer{
    width: 100%;
    overflow: hidden;
    padding-bottom: 3rem;
}
.footer__container{
    width: 80%;
    margin: 4rem auto;
    text-align: center;
}
.footer__container p{
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .2rem;
    padding-bottom: 1.5rem;
}
.footer__container .footer__social__media{
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-evenly;
}
.footer__container i{
    font-size: 26px;
}

@media screen and (max-width: 1100px){
    .text__section{
        width: 90%;
    }
}
@media screen and (max-width: 930px){
    .text__section{
        text-align: center;
        display: table-column;
        width: 90%;
    }
    .text__section__information{
        margin: 2.5rem auto 0;
        width: 100%;
    }
    .text__section__image img{
        width: 43%;
    }
    .section__home button{
        margin: 2rem auto;
    }

    /* about us */
    .about__us{
        width: 100%;
        height: 90vh;
    }
    .about__us__container{
        height: 100vh;
        width: 80%;
        flex-direction: column;
        
    }
    .about__us__title{
        text-align: center;
    }
    .about__us__container .about__us__services{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100vh;
    }
    .about__us__container .about__us__services .about__us__services__each1{
        position: relative;
        height: auto;
        width: 100%;
        left: -0%;
        top: 6%;
        height: 370px !important;
    }
    .about__us__container .about__us__services .about__us__services__each2{
        position: relative;
        width: 100%;
        top: 3%;
        height: 370px !important;
    }

}
@media screen and (max-width: 748px){
    .about__us{
        margin: 0rem auto;
        width: 100%;
        height: 110vh;
    }
    .about__us__container{
        height: 100%;
        width: 80%;
        flex-direction: column;
        
    }
    .about__us__container{
        width: 90%;
    }
    .about__us__container .about__us__services{
        flex-direction: column;
    }
    .about__us__container .about__us__services .about__us__services__each1{
        top: 1%;
    }
    .about__us__container .about__us__services .about__us__services__each2{
        top: -3%;
    }

    /* how */

    .container__how{
        flex-direction: column;
    }
    .container__how h1{
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width: 548px){
    .text__section{
        width: 100%;
    }
    .text__section__information h1{
        font-size: 30px;
    }
    .text__section__image img{
        width: 75%;
    }

    /* about us */
    .about__us{
        display: block;
        height: 120vh;
        width: 100%;
    }
    .about__us__container .about__us__services .about__us__services__each1{
        top: 2%;
    }
    .about__us__container .about__us__services .about__us__services__each2{
        bottom: 10%;
    }
    /* swiper / slider*/
    .swiper-slide{
        width: 90%;
        margin: auto;
    }
    .services__container{
        flex-direction: column-reverse;
    }
    .services__container .services__title{
        width: 80%;
        padding: 3rem .8rem;
    }
    .services__container .swiper__content{
        text-align: center;
        width: 80%;
    }

    /* how */

    .container__how h1{
        font-size: 20px;
    }
}