.post__containerAll {
  margin-top: 6rem;
  text-align: center;
  img {
    width: 30%;
    margin: 2rem auto;
  }
  .post__eachContainer {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
.container__postForm {
  padding: 2rem;
}
